/test/jenkins_home
/test/docker_certs
/models/*.keras
/models/*.ipynb
/.idea/
.idea
test/jenkins_home/*
test/docker_certs/*
test/jenkins_home/
test/docker_certs/
test/docker_certs/
test/docker_certs
test/.env
VGG19_service/kaggle.json
models/*.h5
models/VGG19.h5
