/test/jenkins_home
/test/docker_certs
dataset
/models/*.keras
/dataset/*.csv
/dataset/*.wav
/.idea/
.idea
/test/jenkins_home/*
/test/docker_certs/*
/test/jenkins_home/
/test/docker_certs/
